* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 15rem;
  margin: auto;
  background-color: #000000;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #fff;
}

.text-inputs-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.text-inputs-container input {
  padding: 0.5rem;
  border-radius: .5rem;
  border: 1px solid #ddd;
}

.text-inputs-container label {
  margin-bottom: 0.2rem;
  font-weight: bold;
  font-size: .8rem;
  color: #fff;
}